@model IEnumerable<BudgetApp.Models.IncomeItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecurringType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecurringDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecurringType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecurringDay)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecurringTransactionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecurringTransactionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecurringTransactionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
